@charset "UTF-8";
.titulo-inicio {
  color: #f34946; }

.titulo-deportes {
  color: #ef16aa; }

.titulo-sueño {
  color: #0872bd; }

.titulo-alimentacion {
  color: #5c21f3; }

.titulo-suplemento {
  color: #d91470; }

.ac-1, .ac-2, .ac-3, .ac-4 {
  font-size: 20px; }

.inicio-pag .titulo-inicio {
  font-size: 50px; }

.inicio-pag .center1 {
  text-align: center; }

.inicio-pag .img1 {
  width: 1100px;
  height: 500px; }

.inicio-pag .center2 {
  text-align: center; }

.inicio-pag .intro {
  position: relative;
  left: 20px; }

.inicio-pag .center3 {
  text-align: center; }

.instagram, .facebook, .twitter {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px; }

.redes {
  display: flex;
  justify-content: space-around; }

footer {
  background-color: #54d6f3;
  height: 100%; }

.vs, .vs2, .vs3 {
  position: relative;
  right: 110px;
  top: 25px; }

.cookies {
  position: relative;
  left: 1100px;
  bottom: 10px; }

.tyc {
  position: relative;
  bottom: 10px; }

.pag-deportes .titulo-deportes {
  font-size: 50px; }

.pag-deportes .center4 {
  text-align: center; }

.pag-deportes .deportes {
  width: 1050px; }

.pag-deportes .center5 {
  text-align: center; }

.pag-deportes .img-niños {
  width: 550px;
  height: 400px; }

.pag-deportes .img-adol {
  width: 520px;
  height: 350px; }

.pag-deportes .img-adul {
  width: 500px; }

.pag-alimentacion .titulo-alimentacion {
  font-size: 50px; }

.pag-alimentacion .center6 {
  text-align: center; }

.pag-alimentacion .img-ali {
  width: 1050px;
  height: 500px; }

.pag-alimentacion .center7 {
  text-align: center; }

.pag-alimentacion .center8 {
  text-align: center; }

.pag-alimentacion .info-ali {
  position: relative;
  left: 30px; }

.pag-alimentacion .piramide-titulo {
  font-size: 50px; }

.pag-alimentacion .center9 {
  text-align: center; }

.pag-alimentacion .piramide {
  width: 800px; }

.pag-alimentacion .center10 {
  text-align: center; }

.pag-alimentacion .explicacion {
  font-size: 38px; }

.pag-alimentacion .center11 {
  text-align: center; }

.pag-alimentacion .explicacion-p {
  font-size: 17px;
  position: relative;
  left: 20px; }

.caja-r1 {
  display: flex;
  justify-content: space-around; }

.caja-r2 {
  display: flex;
  justify-content: space-around; }

.receta1, .receta2, .receta3, .receta4 {
  width: 400px;
  height: 400px;
  border: solid; }

.recetas {
  text-align: center; }

.pag-sueño .titulo-sueño {
  width: 1000px; }

.pag-sueño .center12 {
  text-align: center; }

.pag-sueño .center13 {
  text-align: center; }

.pag-sueño .center14 {
  text-align: center; }

.pag-sueño .img-salud-sueño {
  width: 300px; }

.pag-sueño .img-sueño-depo {
  width: 300px; }

.pag-sueño .img-sueño-niños {
  width: 300px; }

body {
  background-color: #f6d9a3; }

.pag-suplementos .titulo-suplemento {
  font-size: 40px; }

.pag-suplementos .center15, .pag-suplementos .center16, .pag-suplementos .center17, .pag-suplementos .center18, .pag-suplementos .center19, .pag-suplementos .center20, .pag-suplementos .center21 {
  text-align: center; }

.pag-suplementos .intro-suplementos {
  width: 1050px;
  height: 550px; }

.pag-suplementos .div1, .pag-suplementos .div2, .pag-suplementos .div3 {
  width: 330px;
  height: 330px;
  border: solid; }

.pag-suplementos .anabolicos {
  width: 400px; }

.pag-suplementos .sup-no, .pag-suplementos .info-anabol-1, .pag-suplementos .ana-boli {
  position: relative;
  left: 10px; }

.pag-suplementos .contenedor-1 {
  display: flex;
  justify-content: space-around; }

.pag-suplementos .center22 {
  text-align: center; }

@media screen and (max-width: 520px) and (min-width: 320px) {
  .inicio-pag .img1 {
    width: 240px;
    height: 180px; }
  .inicio-pag .titulo-inicio {
    font-size: 19px; }
  .pag-deportes .deportes {
    width: 301px; }
  .pag-deportes .titulo-deportes {
    font-size: 19px; }
  .pag-deportes .img-niños {
    width: 299px;
    height: 299px; }
  .pag-deportes .img-adol {
    width: 299px;
    height: 299px; }
  .pag-deportes .titulo-adol {
    font-size: 19px; }
  .pag-deportes .img-adul {
    width: 301px; }
  .niños {
    font-size: 19px; }
  .titulo-adu {
    font-size: 19px; }
  .pag-alimentacion .titulo-alimentacion {
    font-size: 19px; }
  .pag-alimentacion .img-ali {
    width: 311px;
    height: 201px; }
  .pag-alimentacion .piramide {
    width: 301px; }
  .pag-alimentacion .piramide-titulo {
    font-size: 19px; }
  .pag-alimentacion .explicacion {
    font-size: 19px; }
  .caja-r1 {
    display: inline-block; }
  .caja-r2 {
    display: inline-block; }
  .receta1 {
    width: 260px;
    height: 260px;
    border: solid; }
  .receta2 {
    width: 260px;
    height: 260px;
    border: solid;
    position: relative;
    top: 20px; }
  .receta3 {
    width: 260px;
    height: 260px;
    border: solid;
    position: relative;
    top: 20px; }
  .receta4 {
    width: 260px;
    height: 260px;
    border: solid;
    position: relative;
    top: 35px; }
  .recetas {
    text-align: center; }
  .pag-sueño .sueño {
    font-size: 19px; }
  .pag-sueño .titulo-sueño {
    width: 300px; }
  .pag-sueño .img-salud-sueño {
    width: 280px; }
  .pag-sueño .img-sueño-depo {
    width: 300px; }
  .pag-sueño .img-sueño-niños {
    width: 280px; }
  .pag-suplementos .titulo-suplemento {
    font-size: 19px; }
  .pag-suplementos .intro-suplementos {
    width: 325px;
    height: 250px; }
  .pag-suplementos .div1, .pag-suplementos .div2, .pag-suplementos .div3 {
    width: 80px;
    height: 50px; }
  .pag-suplementos .anabolicos {
    width: 300px; } }

@media screen and (max-width: 520px) and (min-width: 375px) {
  .inicio-pag .img1 {
    width: 321px;
    height: 201px; }
  .inicio-pag .titulo-inicio {
    font-size: 22px; }
  .pag-deportes .deportes {
    width: 331px; }
  .pag-deportes .titulo-deportes {
    font-size: 22px; }
  .pag-deportes .img-niños {
    width: 331px; }
  .pag-deportes .img-adol {
    width: 331px; }
  .pag-deportes .titulo-adol {
    font-size: 22px; }
  .pag-deportes .img-adul {
    width: 331px; }
  .pag-alimentacion .img-ali {
    width: 331px; }
  .pag-alimentacion .piramide {
    width: 311px; }
  .pag-alimentacion .piramide-titulo {
    font-size: 22px; }
  .contenedor-1 {
    display: flex;
    justify-content: space-around; } }

@media screen and (max-width: 520px) and (min-width: 425px) {
  .inicio-pag .img1 {
    width: 381px;
    height: 201px; }
  .inicio-pag .titulo-inicio {
    font-size: 23px; }
  .pag-deportes .deportes {
    width: 381px; }
  .pag-deportes .titulo-deportes {
    font-size: 23px; }
  .pag-deportes .img-niños {
    width: 381px; }
  .pag-deportes .niños {
    font-size: 20px; }
  .pag-deportes .img-adol {
    width: 381px; }
  .pag-deportes .titulo-adol {
    font-size: 23px; }
  .pag-deportes .img-adul {
    width: 381px; }
  .pag-deportes .titulo-adul {
    font-size: 23px; }
  .pag-alimentacion .img-ali {
    width: 350px; }
  .pag-alimentacion .alimentarse-bien {
    font-size: 23px; }
  .pag-alimentacion .piramide {
    width: 311px; }
  .pag-alimentacion .piramide-titulo {
    font-size: 23px; }
  .pag-alimentacion .explicacion {
    font-size: 20px; }
  .pag-sueño .sueño {
    font-size: 23px; }
  .pag-sueño .titulo-sueño {
    width: 380px; }
  .pag-sueño .img-salud-sueño {
    width: 280px; }
  .pag-sueño .img-sueño-depo {
    width: 300px; }
  .pag-sueño .img-sueño-niños {
    width: 280px; } }

@media screen and (max-width: 768px) and (min-width: 520px) {
  .inicio-pag .img1 {
    width: 681px; }
  .inicio-pag .titulo-inicio {
    font-size: 51px; }
  .pag-deportes .deportes {
    width: 700px; }
  .pag-deportes .titulo-deportes {
    font-size: 38px; }
  .pag-deportes .img-niños {
    width: 330px; }
  .pag-deportes .img-adol {
    width: 355px;
    height: 300px; }
  .pag-deportes .titulo-adol {
    font-size: 20px; }
  .pag-deportes .img-adul {
    width: 300px;
    height: 300px; }
  .pag-alimentacion .titulo-alimentacion {
    font-size: 50px; }
  .pag-alimentacion .img-ali {
    width: 700px; }
  .pag-alimentacion .piramide {
    width: 500px; }
  .pag-alimentacion .piramide-titulo {
    font-size: 33px; }
  .pag-alimentacion .explicacion {
    font-size: 38px; }
  .pag-sueño .sueño {
    font-size: 35px; }
  .pag-sueño .titulo-sueño {
    width: 600px; }
  .pag-sueño .img-salud-sueño {
    width: 280px; }
  .pag-sueño .img-sueño-depo {
    width: 300px; }
  .pag-sueño .img-sueño-niños {
    width: 280px; }
  .pag-suplementos .titulo-suplemento {
    font-size: 40px; }
  .pag-suplementos .intro-suplementos {
    width: 650px;
    height: 400px; }
  .pag-suplementos .div1, .pag-suplementos .div2, .pag-suplementos .div3 {
    width: 250px;
    height: 300px; }
  .pag-suplementos .anabolicos {
    width: 400px; }
  .pag-suplementos .contenedor-1 {
    display: flex;
    justify-content: space-around; } }
