$ancho:330px;

$titulos:(
inicio:rgb(243, 73, 70),
deportes :rgb(239, 22, 170),
sueño:rgb(8, 114, 189),
alimentacion: rgb(92, 33, 243),
suplemento:rgb(217, 20, 112),
);
@each $tit, $color in $titulos {
    .titulo-#{$tit}{
        color:$color;
    }
}

.ac-1{font-size: 20px;}
.ac-2,.ac-3,.ac-4{
    @extend .ac-1;}


.inicio-pag{
.titulo-inicio{font-size: 50px; position: relative;left: 250px;}
.img1{width: 1100px; height:500px; position: relative;left: 50px;}
.intro{position: relative;left: 20px;}}
.acciones{position: relative;left: 220px; 
}

.pag-deportes{
.titulo-deportes{position: relative;left: 180px; font-size: 50px;}
.deportes{width:1050px; position: relative;left: 90px;}
.img-niños{width: 550px; height: 400px;}
.img-adol{width: 520px;height: 350px;}
.img-adul{width: 500px;}}

.pag-alimentacion{
.titulo-alimentacion{font-size: 50px; position: relative; left: 330px;}
.img-ali{width: 1050px;height: 500px; position: relative;left: 85px;}
.porque-impor{position: relative;left: 260px;}
.info-ali{position: relative;left: 30px;}
.piramide-titulo{font-size: 50px; position: relative;left: 80px;}
.piramide{width: 800px; position: relative;left: 190px;}
.explicacion{font-size: 38px;
    position: relative; left: 400px;}
    .explicacion-p{font-size: 17px; position: relative;left: 20px;}
}
.pag-sueño{
.sueño{position: relative;left: 180px;}
.titulo-sueño{width: 1000px; position: relative; left: 90px;}
.info-sueño{position: relative;left: 5px;}
.img-salud-sueño{width: 500px;}
.img-sueño-depo{width: 300px;}
.img-sueño-niños{width: 400px;}}

body{background-color: rgb(246, 217, 163);}

.pag-suplementos{
.titulo-suplemento{font-size: 40px; position: relative;left: 250px;}
.intro-suplementos{width: 1050px; height: 550px; position: relative;left: 100px;}
.cuando-supl{position: relative;left: 200px;}
.div1,.div2,.div3{width: $ancho;height: 330px;}
.sup-si{position: relative;left: 310px;}
.anabolicos{width: 400px;position: relative;left: 30px;}
.sup-no,.info-anabol-1, .ana-boli{position: relative; left: 30px;}
.contenedor-1{display: flex; justify-content: space-around;}}



@media screen and (max-width:520px) and (min-width:320px){ 
    .inicio-pag{
    .img1{width:240px;height: 180px; position: relative;right: 20px;}
    .titulo-inicio{font-size: 19px;position: relative;left: 30px;}
    .intro{position: relative; left: 19px;}
    .acciones{position: relative;left: 20px;} }
    
.pag-deportes{
.deportes{width: 301px; position: relative;left: 11px;}
.titulo-deportes{font-size: 17px; position: relative; left: 19px;}
.img-niños{width: 299px;}
.niños{position: relative; left: 31px;}
.info-niños{position: relative;left: 14px;}
.img-adol{width: 299px;}
.titulo-adol{font-size: 19px; position: relative; left: 10px;}
.info-adol{position: relative; left: 6px;}
.img-adul{width: 301px;}
.titulo-adul{position: relative; left: 13px;}
.info-adul{position: relative; left: 8px;}}

.pag-alimentacion{

.titulo-alimentacion{font-size: 29px; position: relative; left: 31px;}
.img-ali{width: 311px; height: 201px; position: relative;left: 6px;}
.info-ali{position: relative; left: 7px;}
.alimentarse-bien{position: relative; left: 8px;}
.piramide{width: 301px; position: relative; left: 6px;}
.piramide-titulo{font-size: 14px; position: relative;left: 21px;}
.explicacion{font-size: 31px; position: relative; left: 27px;}}
}

.pag-sueño{
    .sueño{position: relative;left: 30px; font-size: 18px;}
    .titulo-sueño{width: 300px; position: relative; left: 20px;}
    .info-sueño{position: relative;left: 5px;}
    .img-salud-sueño{width: 280px;}
    .img-sueño-depo{width: 300px;}
    .img-sueño-niños{width: 280px;}}

    .pag-suplementos{
        .titulo-suplemento{font-size: 18px; position: relative;left: 25px;}
        .intro-suplementos{width: 325px; height: 250px; position: relative;left: 20px;}
        .cuando-supl{position: relative;left: 10px;}
        .div1,.div2,.div3{width: 80px ;height: 50px;}
        .sup-si{position: relative;left: 30px;}
        .anabolicos{width: 300px;position: relative;left: 30px;}
        .sup-no,.info-anabol-1, .ana-boli{position: relative; left: 30px;}}
        
        
        

@media screen and (max-width:520px) and (min-width:375px){
   
   .inicio-pag{
    .img1{width:321px;height: 201px; position: relative;left: 24px;}
    .titulo-inicio{font-size: 19px;position: relative;left: 49px;}
    .intro{position: relative; left: 21px;}}

.pag-deportes{
.deportes{width: 331px; position: relative;left: 19px;}
.titulo-deportes{font-size: 17px; position: relative; left: 43px;}
.img-niños{width: 331px;position: relative;left: 11px;}
.niños{position: relative; left: 49px;}
.info-niños{position: relative;left: 16px;}
.img-adol{width: 351px;}
.titulo-adol{font-size: 21px; position: relative; left: 26px;}
.info-adol{position: relative; left: 11px;}
.img-adul{width: 331px; position: relative;left: 9px;}
.titulo-adul{position: relative; left: 36px;}
.info-adul{position: relative; left: 16px;}}

.pag-alimentacion{
.alimentacion{position: relative; left: 64px;}
.img-ali{width: 331px; position: relative;left: 24px;}
.info-ali{position: relative; left: 9px;}
.porque-impor{position: relative; left: 46px;}
.piramide{width: 311px; position: relative; left: 15px;}
.piramide-titulo{font-size: 18px; position: relative;left: 11px;}
.explicacion{position: relative; left: 71px;}
.explicacion-p{position: relative;left: 6px;}}

.contenedor-1{display: flex; justify-content: space-around;}
}
@media screen and (max-width:520px) and (min-width:425px){
   
   .inicio-pag{
    .img1{width:381px;height: 201px; position: relative;left: 24px;}
    .titulo-inicio{font-size: 25px;position: relative;left: 53px;}
    .intro{position: relative; left: 19px;}}

    .pag-deportes{
.deportes{width: 381px; position: relative;left: 31px;}
.titulo-deportes{font-size: 21px; position: relative; left: 41px;}
.img-niños{width: 381px;position: relative;left: 21px;}
.niños{font-size: 32px; position: relative; left: 45px;}
.info-niños{position: relative;left: 16px;}
.img-adol{width: 381px; position: relative; left:9px ;}
.titulo-adol{font-size: 27px; position: relative; left: 25px;}
.info-adol{position: relative; left: 11px;}
.img-adul{width: 381px; position: relative;left: 11px;}
.titulo-adul{font-size: 31px; position: relative; left: 41px;}
.info-adul{position: relative; left: 14px;}}
 
.pag-alimentacion{
.titulo-alimentacion{position: relative; left: 79px;}
.img-ali{width: 350px; position: relative;left: 34px;}
.info-ali{position: relative; left: 9px;}
.alimentarse-bien{font-size: 21px; position: relative;right: 11px;}
.piramide{width: 311px; position: relative; left: 33px;}
.piramide-titulo{font-size: 17px; position: relative;left: 17px;}
.explicacion{position: relative; left: 71px; font-size: 29px;}
.explicacion-p{position: relative;left: 6px;} }

.pag-sueño{
    .sueño{position: relative;left: 30px; font-size: 25px;}
    .titulo-sueño{width: 380px; position: relative; left: 20px;}
    .info-sueño{position: relative;left: 5px;}
    .img-salud-sueño{width: 280px;}
    .img-sueño-depo{width: 300px;}
    .img-sueño-niños{width: 280px;}} }

@media screen and (max-width:768px) and (min-width:520px) {
    .inicio-pag{
    .img1{width:681px;height: 401px; position: relative;left: 24px;}
    .titulo-inicio{font-size: 51px;position: relative;left: 51px;}
    .intro{position: relative; left: 21px;}
    .acciones{position: relative;left: 20px; }
    }
    .pag-deportes{
.deportes{width: 700px; position: relative;left: 18px;}
.titulo-deportes{font-size: 38px; position: relative; left: 46px;}
.img-niños{width: 330px;position: relative;left: 10px;}
.niños{position: relative; left: 48px;}
.info-niños{position: relative;left: 15px;}
.img-adol{width: 355px; height: 300px;}
.titulo-adol{font-size: 20px; position: relative; left: 28px;}
.info-adol{position: relative; left: 10px;}
.img-adul{width: 300px; height: 300px; position: relative;left: 8px;}
.titulo-adul{position: relative; left: 35px;}
.info-adul{position: relative; left: 15px;}}

.pag-alimentacion{
.titulo-alimentacion{font-size: 50px; position: relative; left:145px ;}
.img-ali{width: 700px; position: relative;left: 70px;}
.info-ali{position: relative; left: 8px;}
.alimentarse-bien{position: relative; left: 55px;}
.piramide{width: 500px; position: relative; left: 100px;}
.piramide-titulo{font-size: 33px; position: relative;left: 20px;}
.explicacion{font-size: 38px; position: relative; left: 180px;}
.explicacion-p{position: relative;left: 5px;}}

.pag-sueño{
    .sueño{position: relative;left: 40px; font-size: 35px;}
    .titulo-sueño{width: 600px; position: relative; left: 50px;}
    .info-sueño{position: relative;left: 5px;}
    .img-salud-sueño{width: 280px;}
    .img-sueño-depo{width: 300px;}
    .img-sueño-niños{width: 280px;}}
   
    .pag-suplementos{
        .titulo-suplemento{font-size: 40px; position: relative;left: 80px;}
        .intro-suplementos{width: 650px; height: 400px; position: relative;left: 70px;}
        .cuando-supl{position: relative;left: 80px;}
        .div1,.div2,.div3{width: 250px;height: 300px;}
        .sup-si{position: relative;left: 180px;}
        .anabolicos{width: 400px;position: relative;left: 30px;}
        .sup-no,.info-anabol-1, .ana-boli{position: relative; left: 30px;}
        .contenedor-1{display: flex; justify-content: space-around;}} }
    