
.contenedor-1{display: flex; justify-content: space-around;}
.titulo-inicio{font-size: 50px; position: relative;left: 200px;}
.img1{width: 1000px; position: relative;left: 50px;}
.intro{position: relative;left: 20px;}
.titulo-deportes{position: relative;left: 130px; font-size: 50px;}
.deportes{width:950px; position: relative;left: 80px;}
.img-niños{width: 550px; height: 400px;}
.img-adol{width: 520px;height: 350px;}
.img-adul{width: 500px;}
.alimentacion{font-size: 50px; position: relative; left: 290px;}
.img-ali{width: 950px; position: relative;left: 80px;}
.porque-impor{position: relative;left: 200px;}
.info-ali{position: relative;left: 30px;}
.piramide-titulo{font-size: 50px; position: relative;left: 40px;}
.piramide{width: 800px; position: relative;left: 150px;}
.explicacion{font-size: 35px;
    position: relative; left: 330px;}
    .explicacion-p{position: relative;left: 20px;}
.sueño{position: relative;left: 180px;}
.titulo-sueño{width: 900px; position: relative; left: 90px;}
.info-sueño{position: relative;left: 5px;}
.img-salud-sueño{width: 500px;}
.img-sueño-depo{width: 300px;}
.img-sueño-niños{width: 400px;}
body{background-color: wheat;}
.suplemento-tit{position: relative;left: 180px;}
.intro-suplementos{width: 930px; position: relative;left: 80px;}
.cuando-supl{position: relative;left: 180px;}
.div1,.div2,.div3{width: 330px;height: 330px;}
.sup-si{position: relative;left: 310px;}
.anabolicos{width: 400px;position: relative;left: 30px;}
.sup-no,.info-anabol-1, .ana-boli{position: relative; left: 30px;}



@media screen and (max-width:520px) and (min-width:320px){ 
    .img1{width:300px;height: 200px;}
    .titulo-inicio{font-size: 20px;position: relative;left: 30px;}
    .intro{position: relative; left: 20px;}
.deportes{width: 300px; position: relative;left: 12px;}
.titulo-deportes{font-size: 16px; position: relative; left: 20px;}
.img-niños{width: 300px;}
.niños{position: relative; left: 32px;}
.info-niños{position: relative;left: 15px;}
.img-adol{width: 300px;}
.titulo-adol{font-size: 20px; position: relative; left: 11px;}
.info-adol{position: relative; left: 5px;}
.img-adul{width: 300px;}
.titulo-adul{position: relative; left: 14px;}
.info-adul{position: relative; left: 7px;}
.alimentacion{position: relative; left: 32px;}
.img-ali{width: 310px; position: relative;left: 5px;}
.info-ali{position: relative; left: 8px;}
.porque{position: relative; left: 25px;}
.piramide{width: 300px; position: relative; left: 5px;}
.piramide-titulo{font-size: 13px; position: relative;left: 20px;}
.explicacion{position: relative; left: 55px;}
}
@media screen and (max-width:520px) and (min-width:375px){
    .img1{width:320px;height: 200px; position: relative;left: 25px;}
    .titulo-inicio{font-size: 20px;position: relative;left: 50px;}
    .intro{position: relative; left: 20px;}
.deportes{width: 330px; position: relative;left: 18px;}
.titulo-deportes{font-size: 16px; position: relative; left: 42px;}
.img-niños{width: 330px;position: relative;left: 10px;}
.niños{position: relative; left: 48px;}
.info-niños{position: relative;left: 15px;}
.img-adol{width: 350px;}
.titulo-adol{font-size: 20px; position: relative; left: 28px;}
.info-adol{position: relative; left: 10px;}
.img-adul{width: 330px; position: relative;left: 8px;}
.titulo-adul{position: relative; left: 35px;}
.info-adul{position: relative; left: 15px;}
.alimentacion{position: relative; left: 63px;}
.img-ali{width: 330px; position: relative;left: 23px;}
.info-ali{position: relative; left: 8px;}
.porque-impor{position: relative; left: 45px;}
.piramide{width: 310px; position: relative; left: 14px;}
.piramide-titulo{font-size: 17px; position: relative;left: 10px;}
.explicacion{position: relative; left: 70px;}
.explicacion-p{position: relative;left: 5px;}

}
@media screen and (max-width:520px) and (min-width:425px){
    .img1{width:380px;height: 200px; position: relative;left: 25px;}
    .titulo-inicio{font-size: 25px;position: relative;left: 53px;}
    .intro{position: relative; left: 20px;}
.deportes{width: 380px; position: relative;left: 30px;}
.titulo-deportes{font-size: 20px; position: relative; left: 42px;}
.img-niños{width: 380px;position: relative;left: 20px;}
.niños{font-size: 32px; position: relative; left: 45px;}
.info-niños{position: relative;left: 15px;}
.img-adol{width: 380px; position: relative; left:8px ;}
.titulo-adol{font-size: 26px; position: relative; left: 24px;}
.info-adol{position: relative; left: 10px;}
.img-adul{width: 380px; position: relative;left: 10px;}
.titulo-adul{font-size: 30px; position: relative; left: 40px;}
.info-adul{position: relative; left: 15px;}
.alimentacion{position: relative; left: 80px;}
.img-ali{width: 350px; position: relative;left: 35px;}
.info-ali{position: relative; left: 8px;}
.porque-impor{font-size: 20px; position: relative;right: 10px;}
.piramide{width: 310px; position: relative; left: 32px;}
.piramide-titulo{font-size: 17px; position: relative;left: 18px;}
.explicacion{position: relative; left: 70px; font-size: 28px;}
.explicacion-p{position: relative;left: 5px;} }

@media screen and (max-width:768px) and (min-width:520px){
    .img1{width:680px;height: 400px; position: relative;left: 25px;}
    .titulo-inicio{font-size: 50px;position: relative;left: 50px;}
    .intro{position: relative; left: 20px;}
.deportes{width: 700px; position: relative;left: 18px;}
.titulo-deportes{font-size: 38px; position: relative; left: 46px;}
.img-niños{width: 330px;position: relative;left: 10px;}
.niños{position: relative; left: 48px;}
.info-niños{position: relative;left: 15px;}
.img-adol{width: 355px; height: 300px;}
.titulo-adol{font-size: 20px; position: relative; left: 28px;}
.info-adol{position: relative; left: 10px;}
.img-adul{width: 300px; height: 300px; position: relative;left: 8px;}
.titulo-adul{position: relative; left: 35px;}
.info-adul{position: relative; left: 15px;}
.alimentacion{font-size: 50px; position: relative; left:145px ;}
.img-ali{width: 600px; position: relative;left: 70px;}
.info-ali{position: relative; left: 8px;}
.porque-impor{position: relative; left: 55px;}
.piramide{width: 500px; position: relative; left: 100px;}
.piramide-titulo{font-size: 33px; position: relative;left: 20px;}
.explicacion{font-size: 38px; position: relative; left: 180px;}
.explicacion-p{position: relative;left: 5px;}}